.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 70px 10%;
}
.skills-title {
  position: relative;
}
.skills-title h1 {
  padding: 0px 30px;
  font-size: 60px;
  font-weight: 600;
}
.skills-title img {
  width: 160px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.skills-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 2px solid white;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  cursor: pointer;
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}
.skills-format h3 {
  font-size: 22px;
  font-weight: 600;
}
.skills-format h2 {
  font-size: 30px;
  font-weight: 800;
  background: linear-gradient(270deg, #df8908 50%, #b415ff 90.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.skills-format p {
  color: #d4d4d4;
  font-size: 20px;
  line-height: 30px;
  max-width: 300px;
}
.skills-readmore {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}
.skills-format:hover {
  border: 2px solid #ff00ff;
  background-image: linear-gradient(45deg, #3f0028, #582300);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
@media (max-width: 768px) {
  .skills {
    align-items: center;
    gap: 70px;
    margin: 20px 70px;
  }
  .skills h1 {
    padding: 0;
    font-size: 50px;
  }
  .skills-title img {
    width: 130px;
    margin-right: -20px;
  }
  .skills-format {
    gap: 20px;
    padding: 32px;
  }
  .skills-format h2 {
    font-size: 28px;
  }
  .skills-format p {
    font-size: 18px;
    line-height: 32px;
    max-width: 300px;
  }
  .skills-readmore img {
    width: 20px;
  }
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

.ag-courses_box {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.ag-courses_item {
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover {
  text-decoration: none;
  color: #fff;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.ag-courses-item_title {
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  z-index: 1;
  position: relative;
}

.ag-courses-item_date-box {
  font-size: 18px;
  color: #fff;
  z-index: 2;
  position: relative;
}


.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background: linear-gradient(270deg, #df8908 50%, #b415ff 90.25%);
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;
    font-size: 24px;
  }

  .ag-courses-item_link {
    padding: 22px 40px;
  }
}
