.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 70px 10%;
}
.about-title {
  position: relative;
  margin: auto;
}
.about-title h1 {
  padding: 0px 30px;
  font-size: 60px;
  font-weight: 600;
}
.about-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 160px;
}
.about-sections {
  display: flex;
  gap: 60px;
  align-items: center;
}
.about-left img {
  width: 300px;
  border-radius: 10px;
}
.about-right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.about-para {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;
  font-weight: 500;
}
.about-skills {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about-para p {
  line-height: 25px;
}
.about-skill {
  display: flex;
  gap: 20px;
  align-items: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.about-skill p {
  min-width: 130px;
  font-size: 20px;
  font-weight: 500;
}
.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
}
.about-achievements {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 50px;
}
.about-achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.about-achievement h1 {
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-achievement p {
  font-size: 18px;
  font-weight: 500;
}
.about-skill:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.about-achievement:hover {
  transform: scale(1.12);
  -webkit-transform: scale(1.12);
  -moz-transform: scale(1.12);
  -ms-transform: scale(1.12);
  -o-transform: scale(1.12);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
@media (max-width: 768px) {
  .about {
    gap: 80px;
    margin: 20px 25px;
    align-items: start;
  }
  .about-title h1 {
    font-size: 40px;
    padding: 0;
  }
  .about-title img {
    width: 130px;
    right: -20px;
  }
  .about-sections {
    flex-direction: column;
  }
  .about-left {
    display: none;
  }
  .about-para {
    font-size: 18px;
    line-height: 32px;
  }
  .about-skill {
    gap: 20px;
    align-items: center;
  }
  .about-skill p {
    font-size: 20px;
  }
  .about-skill hr {
    height: 6px;
  }
  .about-achievements {
    flex-direction: column;
    justify-content: space-between;
  }
  .about-achievement {
    padding: 10px;
    gap: 10px;
  }
  .about-achievement h1 {
    font-size: 34px;
    font-weight: 700;
  }
  .about-achievement p {
    text-align: center;
    font-size: 16px;
  }
}
