.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 10%;
}
.contact-title {
  position: relative;
}
.contact-title h1 {
  padding: 0px 30px;
  font-size: 60px;
  font-weight: 600;
}
.contact-title img {
  width: 160px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.contact-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.contact-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 45%;
}
.contact-left h1 {
  font-size: 50px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-left p {
  max-width: 550px;
  color: #d8d8d8;
  font-size: 16px;
  line-height: 25px;
}
.contact-details {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #d8d8d8;
  font-size: 22px;
}
.contact-detail {
  display: flex;
  align-items: center;
  gap: 18px;
}
.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  flex-basis: 55%;
}
.contact-detail img {
  width: 25px;
}
.contact-right label {
  color: #d8d8d8;
}
.contact-right input {
  border: none;
  width: 80%;
  height: 78px;
  padding: 18px 0 18px 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit, "Helvetica Neue";
  font-size: 18px;
}
.contact-right textarea {
  width: 80%;
  border: none;
  padding: 25px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit, "Helvetica Neue";
  font-size: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.contact-submit {
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b4155f 106.28%);
  font-size: 18px;
  padding: 18px 40px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.contact-submit:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
@media (max-width: 768px) {
  .contact {
    gap: 50px;
    margin: 50px 70px;
    align-items: start;
  }
  .contact-title h1 {
    padding: 0;
    font-size: 50px;
    font-weight: 600;
  }
  .contact-title img {
    width: 130px;
    margin-right: -20px;
  }
  .contact-section {
    flex-direction: column;
  }
  .contact-left h1 {
    font-size: 54px;
  }
  .contact-left p {
    font-size: 18px;
  }
  .contact-detail {
    gap: 20px;
  }
  .contact-detail img {
    width: 25px;
  }
  .contact-right label {
    font-size: 20px;
  }
  .contact-right input {
    width: 100%;
    font-size: 20px;
  }
  .contact-right textarea {
    width: 95%;
    font-size: 20px;
  }
  .contact-submit {
    font-size: 20px;
    padding: 15px 40px;
  }
}
