.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  font-size: 16px;
  transition: right 0.5s; /* Add transition for smooth opening/closing */
}

.nav-logo {
  position: relative;
}

.logo {
  padding: 0px 30px;
  font-size: 40px;
  font-weight: 600;
}

.theme_pattern {
  position: absolute;
  bottom: 0;
  right: 15px;
  z-index: -1;
  width: 100px;
}

.nav-connect {
  padding: 10px 10px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-left: 5px;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu li img {
  display: flex;
  margin: auto;
}

.anchor-link {
  text-decoration: none;
  color: white;
}

.nav-mob-close {
  display: none;
}

.nav-mob-open {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    margin: 20px 6%;
  }
  .nav-connect {
    display: none;
  }
  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
  }
  .nav-mob-close {
    display: block;
    position: relative;
    top: 30px;
    left: 110px;
    width: 30px;
    margin-bottom: 50px;
  }
  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0;
    gap: 30px;
    background-color: #1f0016;
    width: 300px;
    height: 100%;
    z-index: 2;
    right: -300px; /* Ensure this matches the closeMenu function */
  }
  .logo {
    font-size: 40px;
    font-weight: 600;
  }
  .nav-logo img {
    width: 100px;
    right: -10px;
  }
  .nav-logo h1 {
    font-size: 40px;
    padding: 0;
  }
  .nav-menu li {
    font-size: 30px;
    padding-left: 45px;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: start;
  }
}
